/target
/Cargo.lock
src/clientapp/dist
src/clientapp/target
src/clientapp/Cargo.lock
.vscode
.env
rustfmt.toml
node_modules
./threejspg/build/
*.log*
.DS_Store
*.code-workspace
*/dist/*
src/clientapp/src/assets/bg.js
