/target
src/clientapp/dist
src/clientapp/target
.vscode
.env
rustfmt.toml
node_modules
./threejspg/build/
*.log*
.DS_Store
*.code-workspace
*/dist/*
src/clientapp/src/resources/bg.js
uploads
package-lock.json
