$BLACK_BG:        #26282C;
$ACCENT_1_PURPLE: #4C1A88;
$ACCENT_2_RUST:   #CF5C36;
$ACCENT_3_TEAL:   #2BC29F;
$ACCENT_4_YELLOW: #FFAF47;
$TEXT_1_OFF_WHITE:#D2DDDE;

$FONT_HEADER: "Coda", cursive;
$FONT_BODY: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap%27');
