.not-found h1 {
    text-align: center;
    color: black;
    font-size: 6em;
}

.not-found h2 {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.not-found h3{
    text-align: center;
    color: black;
    font-size: 1.17em;
}
