/**
$BLACK_BG:        #26282C;
$PLEASING_BG_COLOR:    #519872;
$ACCENT_1_PURPLE: #4C1A88;
$ACCENT_2_RUST:   #CF5C36;
$ACCENT_3_TEAL:   #2BC29F;
$ACCENT_4_YELLOW: #FFAF47;
$TEXT_1_OFF_WHITE:#D2DDDE;
**/

/**$FONT_HEADER: "Coda", cursive;
$FONT_BODY: 'Poppins', sans-serif;
**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box !important;
}

h1, h2, h3, p, body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

h2, h3 {
    font-weight: 600;
}

/* Horizontal line */
hr {
    border-top: 1px solid #D2DDDE;
    width: 90%;
}

html {
    min-height: 100%;
    background-image: url("/assets/doodles.png");
    background-repeat: repeat;
}

/* <--------- LOGIN ---------> */
#login-canvas { 
    display: block; 
    width: 100%; 
    height: 50em;  
    position: fixed;
    z-index: -1;
}

.login-content-wrapper{
    width:100%;
    background-color:white;
    background-repeat: repeat;
}

.login-content-border{
    background: linear-gradient(to right, #2bc29f, #4C1A88);
    height:.5em;
    width:100%;

}

.login-content {
    width:100%;
}


.login-page body {
    background-color: black;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page #google-button-container {
    width: 10em;
}

.login-page .soft-grey-rect {
    width: auto;
    height: auto;
    border-radius: .5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background: linear-gradient(to right, #2bc29f, #4C1A88);
    /*background-color: 	hsla(267, 100%, 50%, 0.30);*/
    backdrop-filter: blur(6px);

    padding: 2em;

    animation-name: drop_fade_in;
    animation-duration: .7s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0%;
}

.soft-grey-rect h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    text-align: center;
    color: #D2DDDE;
    font-size: 40pt;
    margin: 0;
}

.login-page .please-login-text {
    font-family: 'Open Sans';
    color: #D2DDDE;
    font-size: 20pt;
    text-align: center;
    padding-bottom: 0.5em;
}

.login-page .g_id_signin {
    display: inline-flex;
    align-self: center;
}

.login-hero{
    padding-top:5em;
    padding-bottom:5em;
}

.auth-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation-name: drop_fade_in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0%;
}

.auth-header > h1 {
    vertical-align: middle;
}
.auth-header > img {
    vertical-align: middle;
}

.login-2-panel-split{
    padding:2em;
    width:100%;
    display:flex;
    min-height:30em;
    flex-flow:row wrap;
}

.panel {
    min-width:10em;
    min-height:10em;
    max-height:30em;
}

.login-2-panel-split > .panel{
    flex:1;
    flex-basis: 20em;
    display: flex;
}

::selection{
    background-color: #4C1A88;
    color: white;
    background-clip: content-box;
    -webkit-background-clip: content-box;
}

.text-accent{
    background: linear-gradient(to right, #2bc29f, #4C1A88);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
    font-weight: bolder;
}

.login-2-panel-split > .panel > h1{
    margin:auto;
    font-size:5rem;
}

.login-2-panel-split > .panel > h2{
    margin:auto;
    font-size:3rem;
}

.login-2-panel-split > .panel > img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.login-2-panel-split > .panel > .panel-contain{
    width:100%;
    height:100%;
    object-fit: contain;
}


.auth-header h1 {
    position: relative;
    left: 10px;
    font-size: 120pt;
    white-space: nowrap;
    color:white;
}

.auth-header img {
    justify-content: center;
    width: 10em;
    height: 10em;
}

#google-button-container {
    display: block;
    margin: auto;
    padding-top: 1em;
}

@keyframes drop_fade_in {
    from {
        opacity: 0%;
        top: -500px;
    }

    66% {
        opacity: 0%;
    }

    to {
        top: 0px;
        opacity: 100%;
    }
}


.footer {
    background-color: #171738;
    color:white;
    width:100%;
}

.footer > .footer-section-container{
    display:flex;
    flex-flow: row wrap;
    font-size:.9rem;
    min-width:15em;
}

.footer > .footer-section-container > .footer-section{
    padding:1em;
    flex:1;
    flex-basis: 20em;

}

.footer > .footer-section-container > .footer-section > ul{
    list-style-type: none;
    margin:0;
    line-height: 3em;
}

.footer > .footer-section-container > .footer-section > ul > .footer-section-header{
    font-weight: 900;
    font-size:1.1em;
    padding-left:0em;
}

.footer > .footer-section-container > .footer-section > ul > li > a{
    text-decoration: none;
    color:white;
}

.footer > .footer-section-container > .footer-section > ul > li > a:visited{
    color:white;
}

.footer > .footer-section-container > .footer-section > ul > li > a:active{
    color:white;
}

.footer > .footer-bottom {
    color:white;
    padding-top:1.5em;
    padding-bottom:1.5em;
    text-align: center;
}

.footer > .footer-bottom > h6 {
    color:white;
    margin:0em;
    text-align: center;
}


/* <--------- 404 PAGE ---------> */

.not-found {
    text-align: center;
    color: black;
}

.not-found h1 {
    font-size: 6em;
    color: black;
}

.not-found h2 {
    font-size: 1.5em;
    color: black;
}

.not-found h3 {
    font-size: 1.17em;
}

.not-found .logo {
    height: 15em;
    width: 15em;
}

/* <--------- CREATE CLUB BUTTON ---------> */


.new-club-dialog-anim-in {
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.new-club-dialog-anim-out {
    animation-name: slideout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-bg-anim-in {
    animation: modal-fade-in;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.modal-bg-anim-out {
    animation: modal-fade-out;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes modal-fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes modal-fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes slideout {
    from {
        transform: translateY(0%);
        opacity: 100%;
    }

    to {
        transform: translateY(100%);
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* TOOLBAR */

.content {
    width: 70%;
    margin:auto;
}

.toolbar {
    box-sizing: border-box;
    width: 100%;
    background-color: #171738;
    display: flex;
    height: 4rem;
    flex-direction: row;   
}

.toolbar * {
    box-sizing: border-box;
}

.toolbar > .toolbar-inner-component {
    display:inline-flex;
}

.toolbar > .toolbar-inner-component > * {
    margin:auto 0em;
}


.toolbar > .toolbar-inner-component-right-side {
    margin-left:auto;
    display:inline-flex;
}

.toolbar > .toolbar-inner-component-right-side > button {
    background-color: transparent;
    border-color: transparent;
    display: inline-flex;
    cursor: pointer;
}

.dropdown-content-transition {
    margin-top: 4em;
}

.toolbar > .toolbar-inner-component-right-side > button > img {
    align-self: center;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    margin-top: -4em;
    transition: margin-top 0.5s;
}

.dropdown-content-transition {
    margin-top: 4em;
}

.dropdown-content > button {
    width: 10em;
    height: 2.5em;
}

.toolbar a{
    height:100%;
    display:inline-flex;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #D2DDDE;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
}

.toolbar h1{
    height:initial;
    margin: auto;
    display:inline-flex;
    font-family: 'Open Sans';
    color: #D2DDDE;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
}


.toolbar  #logo {
    height: 100%;
    align-self: center;
}

.toolbar #txt-logo {
    align-self: center;
    width: 5em;
}

.toolbar .toolbar-text-link {
    height: initial;
    margin: auto 0em;
    font-family: 'Open Sans';
    color: #D2DDDE;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
}

.toolbar .toolbar-pfp {
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    align-self: center;
    border-radius: 25em;
}


/** CLUB VIEW **/



.club-view {
    padding:2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    grid-template-rows: auto;
}

/** Info pop-ups to indicate fetching **/

.club-view-fetch-info {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
}

.club-view-fetch-info > span {
    display: inline-flex;
    flex-direction: row;
    background-color: #171738;
    margin: 1em;
    border-radius: .25em;
    align-items: center;
}

.club-view-fetch-info > span > h2 {
    padding: 0.5em;
    color: white;
}

.club-view-fetch-info > span > .spinner {
    margin: 0.5em;
}


@media only screen and (max-width: 1300px) {
    .login-2-panel-split > .panel > h1{
        margin:auto;
        font-size:6vw;
    }

    .login-2-panel-split > .panel > h2{
        margin:auto;
        font-size:4vw;
    }

    .club-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        grid-template-rows: auto;
    }
}

@media only screen and (max-width: 900px) {
    .club-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media only screen and (max-width: 700px) {
    .login-2-panel-split > .panel > h1{
        margin:auto;
        font-size:12vw;
    }

    .login-2-panel-split > .panel > h2{
        margin:auto;
        font-size:6vw;
    }
}

.club-card {
    height: auto;
    width: auto;
    border-radius: .25em;
    background-color: #171738;
    padding: 1em 1em 1em 1em;
    transition: transform 0.5s;
    opacity: 0%;
    display: flex;
    flex-direction: column;    
}

.club-card .material-icons {
    font-size: 40px;
    color: white;
}

.club-card #club-card-join-btn span {
    color: #94B9AF;
}

.club-card #club-card-delete-btn span {
    color: #D64550;
}

.club-card #club-card-expand-btn span {
    color: #F7F5AD;
}

.disappear {
    animation-name: disappear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.reveal {
    animation-name: reveal-cards;
    animation-duration: 0.65s;
}

@keyframes disappear {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        display: none;
    }
}

@keyframes reveal-cards {
    from {
        opacity: 0%;
        transform: translateY(-1em);
    }

    to {
        opacity: 100%;
        transform: translateY(0em);
    }
}

#member-number {
    transition: transform 0.25s;
}
.number-spin-in {
    transform: rotateY(90deg);
}

.number-spin-out {
    transform: rotateY(-90deg);
}

.club-card h1 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 700;
}

.club-card hr {
    width: 100%;
}

.club-card div {
    transform: scaleY(-0.25em);
}

.club-card-header h1 {
    text-align: center;
}

.club-card-action-bar {
    flex-direction: row;
    justify-content: left;
}

.club-card-action-bar button {
    background-color: transparent;
    border: none;
    margin: none;
    padding-right: none;
    padding-left: none;
    min-height: 1em;
    min-width: 1em;

    transition: transform 0.33s;
}

.club-card-action-bar button:hover {
    transform: translateY(-0.25em) !important;
}

.club-card-body {
    display: flex;
    flex: 50%;
    text-align: center;
    color: #D2DDDE;
}

.club-card-body #right-col {
    flex: 50%;
}

.club-card-body #right-col h2 {
    font-size: 20pt;
}

.club-card-body #right-col p {
    display: flex;
    flex-direction: row;
}

.club-card-body #right-col p:before, p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.club-card-body #right-col p:before {
    margin-right: 1em;
}

.club-card-body #right-col p:after {
    margin-left: 1em;
}

#left-col {
    margin: auto;
    flex: 50%
}

.club-card img {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
    border-radius: 25em;
    padding-bottom: 1em;
}

/* Spinners */
.spinner {
    width:50px;
    height:50px;
    border-radius:50%;
    background:#2bc29f;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: s5 1s infinite;
}
  
@keyframes s5 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

.lds-dual-ring {
    display: inline-block;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #2bc29f;
    border-color: #2bc29f transparent #2bc29f transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    margin-left: 0.5em;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  
.search-bar-container{
    width:100%;
    height:20em;
    background: linear-gradient(to right, #2bc29f, #4C1A88);
    color:white;
    display:flex;
    flex-flow:column nowrap;
}

.search-bar-h1{
    color:white;
    font-size:3em;
    padding-top:1em;
    display: inline-block;
    font-family: 'Open Sans';
    color: #D2DDDE;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.search-bar-input {
    background-color:white;
    width:60%;
    border:none;
    margin:auto;
    margin-top:1em;
    height:18%;
    border-radius:25em;
    font-size:2rem;
    color:#333;
    padding-left: .5em;
    padding-right: .5em;

}

.search-bar-input ::placeholder{
    color:#333;
    opacity: 0.8;
}




/* NEW CLUB WINDOW */
.new-club-page {
    background-color: #171738;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1em;
    border-radius: .25em;
    border: 1px solid #ccc;
    align-items: center;
    width: 50%;

    animation-name: drop_fade_in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0%;
}

#description-and-preview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

#description-and-preview-container > button {
   width: fit-content;
}

.new-club-page #description-and-preview-container #preview * {
    color: white;
}

.new-club-page a {
    color: blue;
}

.new-club-page > h1{
    font-size: 50px;
    color:#2bc29f;
    margin: auto;
}

.new-club-page > button:hover {
    background-color: rgb(31, 196, 80);
}

.new-club-page > button:active {
    background-color: #2E4052;
}


.new-club-page #club-name-field {
    font-size: 35px;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    background-color: #171738;
    color: white;
    width: 100%;
}

.new-club-page > #club-name-field::placeholder {
    opacity: 0.8;
    color: white;
    text-align: center;
}


.new-club-page .text-containers {
    display: inline-flex;
    width: 100%;
    gap: 0.5em;
}

#description-and-preview-container textarea {
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    background-color: #171738;
    border-radius: .25em;
    border: 1px solid white;
    font-family: 'Open Sans';
    font-weight: 600;
    color: white;
    font-size: 16px;
    resize: none;
}

input[type="file"] {
    display: none;
}

.normal-button, .new-club-page label {
    font-family: 'Open Sans';
    font-size: 1em;
    width: auto;
    outline: none;
    border: none;
    padding: .25em 1em;
    border-radius: .25em;
    background-color: #2E4052;
    color: #fff;
    transition: linear 0.25s;
    margin-top: 0.5em;
    background-color: #4c1a88;
    cursor: pointer;
}

.new-club-page label {
    width: 30%;
    text-align: center;
}



#long-club-description-input:focus {
    outline: none;
}

#preview {
    color: white;
    font-family: 'Open Sans';
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: .25em;
    overflow-wrap: normal;
    border: 1px solid white;
    height: 20em;
    word-break: break-all;
}

.new-club-page > div > p {
    padding-bottom: 2em;
}

.new-club-page img {
    min-width: 10em;
    min-height: 10em;
    max-width: 10em;
    max-height: 10em;
    border: 1px solid white;
    border-radius: 0.25em;
}


.new-club-page > h2, h3 {
    color: white;
}

.new-club-page > h2 {
    font-size: 35px;
}

.new-club-page > h3 {
    margin-bottom: 1em;
}

.club-info-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.club-info-container span {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1em;
}

.textarea-and-label {
    width: 100%;
}

.preview-and-label {
    width: 100%;
    height: 100%;
}

.submit-and-status {
    display: inline-flex;
    align-items: baseline;
}

.submit-and-status > h3 {
    margin-left: 0.5em;
}

.status-and-spinner {
    display: flex;
    align-items: center;
}

.status-and-spinner > .lds-dual-ring {
}
