/**
$BLACK_BG:        #26282C;
$PLEASING_BG_COLOR:    #519872;
$ACCENT_1_PURPLE: #4C1A88;
$ACCENT_2_RUST:   #CF5C36;
$ACCENT_3_TEAL:   #2BC29F;
$ACCENT_4_YELLOW: #FFAF47;
$TEXT_1_OFF_WHITE:#D2DDDE;
**/

/**$FONT_HEADER: "Coda", cursive;
$FONT_BODY: 'Poppins', sans-serif;
**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

h1, h2, h3, p, body {
    font-family: 'Open Sans';
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

h2, h3 {
    font-weight: 600;
}

/* Horizontal line */
hr {
    border-top: 1px solid #D2DDDE;
    width: 90%;
}

html {
    min-height: 100%;
    background-image: url("/assets/doodles.png");
    background-repeat: repeat;
}

/* <--------- LOGIN ---------> */
#login-canvas { 
    display: block; 
    width: 100%; 
    height: 100%;  
    position: fixed;
    z-index: -1;
}

.login-page body {
    background-color: black;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page #google-button-container {
    width: 10em;
}

.login-page .soft-grey-rect {
    width: auto;
    height: auto;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;

    background-color: 	hsla(267, 100%, 50%, 0.30);
    backdrop-filter: blur(6px);

    padding: 2em;

    animation-name: drop_fade_in;
    animation-duration: .7s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0%;
}

.soft-grey-rect h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    text-align: center;
    color: #D2DDDE;
    font-size: 40pt;
    margin: 0;
}

.login-page .please-login-text {
    font-family: 'Open Sans';
    color: #D2DDDE;
    font-size: 20pt;
    text-align: center;
    padding-bottom: 0.5em;
}

.login-page .g_id_signin {
    display: inline-flex;
    align-self: center;
}

.auth-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation-name: drop_fade_in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0%;
    margin-top: 5em;
}

.auth-header h1 {
    position: relative;
    left: 10px;
    font-size: 120pt;
    white-space: nowrap;
    background-color: white;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textAnimate 5s linear infinite alternate;
}

.auth-header img {
    justify-content: center;
    width: 10em;
    height: 10em;
}

#google-button-container {
    display: block;
    margin: auto;
    padding-top: 1em;
}

@keyframes drop_fade_in {
    from {
        opacity: 0%;
        top: -500px;
    }

    66% {
        opacity: 0%;
    }

    to {
        top: 0px;
        opacity: 100%;
    }
}

/* <--------- 404 PAGE ---------> */

.not-found {
    text-align: center;
    color: black;
}

.not-found h1 {
    font-size: 6em;
    color: black;
}

.not-found h2 {
    font-size: 1.5em;
    color: black;
}

.not-found h3 {
    font-size: 1.17em;
}

.not-found .logo {
    height: 15em;
    width: 15em;
}

/* <--------- CREATE CLUB BUTTON ---------> */

.club-fab button {
    width: auto;
    height: auto;
    position: sticky;
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: #7300FF;
    padding: 20px 40px;
    cursor: pointer;
    transition: color 0.3s;
}

#fab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5em;
    right: 5em;
    z-index: 1;
    height: 5em;
    width: 5em;
    border: 0;
    background-color: #171738;
    border-radius: 5em;
    transition: transform 0.33s;
    box-shadow: 0.1em 0.1em 5px #7300FF, -0.1em -0.1em 5px #2bc29f;

    transition: transform .5s ease;
}

.fab-reveal {
    transform: translateX(0%);
}

.fab-conceal {
    transform: translateX(200%);
}

@keyframes fab-gradient-shift {
    from {
        box-shadow: 0.1em 0.1em 5px #7300FF, -0.1em -0.1em 5px #2bc29f;

    }

    to {
        box-shadow: 0.1em 0.1em 5px #2bc29f, -0.1em -0.1em 5px #7300FF;
    }
}

@keyframes fab-gradient-shift-reverse {
    from {
        box-shadow: 0.1em 0.1em 5px #2bc29f, -0.1em -0.1em 5px #7300FF;
    }

    to {
        box-shadow: 0.1em 0.1em 5px #7300FF, -0.1em -0.1em 5px #2bc29f;
    }
}

@keyframes fab-gradient-feather {
    from {
        box-shadow: 0.1em 0.1em 5px #2bc29f, -0.1em -0.1em 5px #7300FF;
    }

    to {
        box-shadow: 0.1em 0.1em 10px #2bc29f, -0.1em -0.1em 10px #7300FF;
    }
}

@keyframes fab-gradient-feather-reverse {
    from {
        box-shadow: 0.1em 0.1em 10px #2bc29f, -0.1em -0.1em 10px #7300FF;
    }

    to {
        box-shadow: 0.1em 0.1em 5px #2bc29f, -0.1em -0.1em 5px #7300FF;
    }
}

#fab:hover {
    transform: translateY(-0.25em);
    animation: fab-gradient-feather;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#fab:not(:hover) {
    animation: fab-gradient-feather-reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#fab:hover button {
    color: #2bc29f;
}

.new-club-dialog-anim-in {
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.new-club-dialog-anim-out {
    animation-name: slideout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-bg-anim-in {
    animation: modal-fade-in;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.modal-bg-anim-out {
    animation: modal-fade-out;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes modal-fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes modal-fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes slideout {
    from {
        transform: translateY(0%);
        opacity: 100%;
    }

    to {
        transform: translateY(100%);
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* TOOLBAR */

.content {
    width: 70%;
    margin:auto;
}

.toolbar {
    box-sizing: border-box;
    width: 100%;
    background-color: #171738;
    display: flex;
    height: 4rem;
    flex-direction: row;   
}

.toolbar * {
    box-sizing: border-box;
    height: 4rem;
}

.toolbar > .toolbar-inner-component {
    display:inline-flex;
}

.toolbar > .toolbar-inner-component > * {
    margin:auto;
}


.toolbar > .toolbar-inner-component-right-side {
    margin-left:auto;
    display:inline-flex;
}

.toolbar a{
    height:100%;
    display:inline-flex;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #D2DDDE;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
}

.toolbar h1{
    height:initial;
    margin: auto;
    display:inline-flex;
    font-family: 'Open Sans';
    color: #D2DDDE;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
}


.toolbar  #logo {
    height: 100%;
    align-self: center;
}

.toolbar #txt-logo {
    align-self: center;
    width: 5em;
}

.toolbar .toolbar-text-link {
    height: initial;
    margin: auto;
    font-family: 'Open Sans';
    color: #D2DDDE;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
}

.toolbar .toolbar-pfp {
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    align-self: center;
    border-radius: 25em;
}


/** CLUB VIEW **/



.club-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-rows: auto;
}

/** Info pop-ups to indicate fetching **/

.club-view-fetch-info {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
}

.club-view-fetch-info > span {
    display: inline-flex;
    flex-direction: row;
    background-color: #171738;
    margin: 1em;
    border-radius: 8px;
    align-items: center;
}

.club-view-fetch-info > span > h2 {
    padding: 0.5em;
    color: white;
}

.club-view-fetch-info > span > .spinner {
    margin: 0.5em;
}


@media only screen and (max-width: 1300px) {
    .club-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        grid-template-rows: auto;
    }
}

@media only screen and (max-width: 900px) {
    .club-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.club-card {
    height: auto;
    width: auto;
    border-radius: 8px;
    background-color: #171738;
    padding: 1em 1em 1em 1em;
    margin: 1em;
    transition: transform 0.5s;
    opacity: 0%;
    display: flex;
    flex-direction: column;    
}

.club-card .material-icons {
    font-size: 40px;
    color: white;
}

.club-card #club-card-join-btn span {
    color: #94B9AF;
}

.club-card #club-card-delete-btn span {
    color: #D64550;
}

.club-card #club-card-expand-btn span {
    color: #F7F5AD;
}

.disappear {
    animation-name: disappear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.reveal {
    animation-name: reveal-cards;
    animation-duration: 0.65s;
}

@keyframes disappear {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        display: none;
    }
}

@keyframes reveal-cards {
    from {
        opacity: 0%;
        transform: translateY(-1em);
    }

    to {
        opacity: 100%;
        transform: translateY(0em);
    }
}

#member-number {
    transition: transform 0.25s;
}
.number-spin-in {
    transform: rotateY(90deg);
}

.number-spin-out {
    transform: rotateY(-90deg);
}

.club-card h1 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 700;
}

.club-card hr {
    width: 100%;
}

.club-card div {
    transform: scaleY(-0.25em);
}

.club-card-header h1 {
    text-align: center;
}

.club-card-action-bar {
    flex-direction: row;
    justify-content: left;
}

.club-card-action-bar button {
    background-color: transparent;
    border: none;
    margin: none;
    padding-right: none;
    padding-left: none;
    min-height: 1em;
    min-width: 1em;

    transition: transform 0.33s;
}

.club-card-action-bar button:hover {
    transform: translateY(-0.25em) !important;
}

.club-card-body {
    display: flex;
    flex: 50%;
    text-align: center;
    color: #D2DDDE;
}

.club-card-body #right-col {
    flex: 50%;
}

.club-card-body #right-col h2 {
    font-size: 20pt;
}

.club-card-body #right-col p {
    display: flex;
    flex-direction: row;
}

.club-card-body #right-col p:before, p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.club-card-body #right-col p:before {
    margin-right: 1em;
}

.club-card-body #right-col p:after {
    margin-left: 1em;
}

#left-col {
    margin: auto;
    flex: 50%
}

.club-card img {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    padding-bottom: 1em;
}

.spinner {
    width:50px;
    height:50px;
    border-radius:50%;
    background:#2bc29f;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: s5 1s infinite;
}
  
@keyframes s5 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}
  
.search-bar-container{
    width:100%;
    height:20em;
    background: linear-gradient(to right, #2bc29f, #4C1A88);
    color:white;
    display:flex;
    flex-flow:column nowrap;
}

.search-bar-h1{
    color:white;
    font-size:3em;
    padding-top:1em;
    display: inline-block;
    font-family: 'Open Sans';
    color: #D2DDDE;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.search-bar-input {
    background-color:white;
    width:60%;
    border:none;
    margin:auto;
    margin-top:1em;
    height:18%;
    border-radius:25em;
    font-size:2rem;
    color:#333;
    padding-left: .5em;
    padding-right: .5em;

}

.search-bar-input ::placeholder{
    color:#333;
    opacity: 0.8;
}




/* NEW CLUB WINDOW */
.new-club-page {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1em;
    border-radius: .25em;
    border: 1px solid #ccc;
}

#description-and-preview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

@media only screen and (max-width: 800px) {
    #description-and-preview-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
    }
}

#preview {
    border: 1px solid black;
}

.new-club-page #description-and-preview-container #preview * {
    color: black;
}

.new-club-page a {
    color: blue;
}

.new-club-page > h1 {
    font-size: 50px;
    color:#2bc29f;
}

.new-club-page > h1{
    margin-bottom: 0.5em;    
}



.new-club-page > button:hover {
    background-color: rgb(31, 196, 80);
}

.new-club-page > button:active {
    background-color: #2E4052;
}


.new-club-page > #club-name-field {
    width: 40%;
    font-size: 30px;
    outline: none;
    border: none;
    border-bottom: 3px solid #4c1a88;
    margin-bottom: 2em;
}

.new-club-page > #club-name-field::placeholder {
    opacity: 0.8;
}

#description-and-preview-container button {
    font-family: 'Open Sans';
    font-size: 22px;
    width: auto;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #2E4052;
    color: white;
    transition: background-color 0.25s;
    margin-top: 0.5em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
}

#description-and-preview-container #body-span textarea {
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    background-color: #171738;
    border-radius: 2px;
    border: 1px solid white;
    font-family: 'Open Sans';
    font-weight: 600;
    color: white;
    font-size: 16px;
    resize: none;
    border-radius: 8px;
    padding: 0.5em;
}

#description-and-preview-container span > h3 {
    color:#171738;
}

#description-and-preview-container button {
    font-family: 'Open Sans';
    font-size: 22px;
    width: 5em;
    outline: none;
    border: none;
    padding: .25em 1em;
    border-radius: 40px;
    background-color: #2E4052;
    color: #fff;
    transition: linear 0.25s;
    margin-top: 0.5em;
    background-color: #4c1a88;
    cursor: pointer;
}

#description-and-preview-container button:hover {
    color:#2bc29f;
}

#long-club-description-input:focus {
    outline: none;
}

#preview {
    color: white;
    font-family: 'Open Sans';
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 8px;
    overflow-wrap: normal;
}

.new-club-page > div > p {
    padding-bottom: 2em;
}