@import "./consts.scss";

.toolbar {
    width: 100%;
    background-color: $BLACK_BG;
    display: flex;
    flex-direction: row;
    
    a, h1 {
        font-family: $FONT_BODY;
        color: $TEXT_1_OFF_WHITE;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        text-decoration: none;
        vertical-align: middle;
    }
    
    a:hover {
        background-color: $TEXT_1_OFF_WHITE;
        color: $BLACK_BG;
    }
    
    a.active {
        background-color: $ACCENT_3_TEAL;
        color: $TEXT_1_OFF_WHITE;
    }
    
    #logo {
        height: 3em;
        width: 3em;
        padding: 0.25em 0.25em 0.25em 0.25em;
        align-self: center;
    }

    #txt-logo {
        align-self: center;
        width: 5em;
    }
}