@import "./consts.scss";

.toolbar {
    width: 100%;
    overflow: hidden;
    background-color: $BLACK_BG;
    
    a, h1 {
        float: left;
        color: $TEXT_1_OFF_WHITE;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        text-decoration: none;
        font-family: $FONT_BODY;
    }
    
    .links {
        display: inline-block;
        vertical-align: middle;
    }
    
    a:hover {
        background-color: $TEXT_1_OFF_WHITE;
        color: $BLACK_BG;
    }
    
    a.active {
        background-color: $ACCENT_3_TEAL;
        color: $TEXT_1_OFF_WHITE;
    }
    
    img {
        float: left;
        vertical-align: middle;
        height: 3em;
        width: 3em;
        padding: em;
    }
}